.LoginHeader {
  background-color: #d75b79;
  color: white !important;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  height: 6.25rem;
}

.LoginHeader .Icon {
  position: absolute;
  left: 2rem;

  transition: ease all .5s;
}

.LoginHeader.Logo {
  color: inherit;

  font-weight: 500;
  font-size: 2.5rem;

  text-decoration: none;
  -webkit-user-drag: none;
  transition: ease all .5s;
}

.LoginBody {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding: 0 2rem;

  transition: ease all .5s;
}

.LoginBody h2 {
  color: #d75b79;

  font-size: 1.875rem;
  font-weight: 600;

  margin-bottom: 5px;

  transition: ease all .5s;
}

.LoginWrapper {
  display: flex;
  flex-direction: column;

  margin: 8.5rem 0;
  width: fit-content;

  transition: ease all .5s;
}

.LoginBody .LoginCard {
  display: flex;
  flex-direction: column;

  width: fit-content;
  padding: 1.25rem 1.75rem;
  border: solid #d75b79 2px;
  border-radius: 0 20px 20px 20px;

  transition: ease all .5s;
}

.LoginCard button {
  color: #d75b79;
  background: none;

  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;

  width: fit-content;
  border: none;
  outline: inherit;
  margin: 0 0 10px 0;

  cursor: pointer;
  -webkit-user-drag: none;
  transition: ease all .5s;
}

.LoginCard button:hover {
  border-bottom: 1px solid #d75b79;
}

.LoginCard .LoginCardSubmit {
  color: white;
  background: #d75b79;

  font-weight: 500;
  font-size: 1.25rem;
  text-decoration: none;

  padding: 10px 0;
  border: none;
  border-radius: 0 20px 20px 20px;
  outline: inherit;

  cursor: pointer;
  -webkit-user-drag: none;
  transition: ease all .5s;
}

.LoginCard .LoginCardSubmit:hover {
  background-color: rgba(215, 91, 122, 0.9);
}

.LoginCard .MuiFormControl-root:nth-child(2) {
  margin: 0 0 25px 0 !important;
}

.LoginWrapper a {
  color: white;
  background-color: #d75b79;

  font-weight: 500;
  font-size: 1.25rem;
  text-decoration: none;

  width: fit-content;
  margin: 20px 0;
  padding: 8px 40px;
  border-radius: 0px 20px 20px 20px;

  -webkit-user-drag: none;
  transition: ease all .5s;
}

@media (max-width: 928px) {
  .LoginWrapper {
    margin: 4rem 0;
  }

  .LoginHeader .Icon {
    left: 1.5rem;
  }
}

@media (max-width: 688px) {
  .LoginHeader .Icon {
    left: 1.25rem;
  }

  .LoginBody h2 {
    font-size: 2rem;
  }

  .LoginCard button {
    font-size: 1.125rem;
  }

  .LoginCard .LoginCardSubmit {
    font-size: 1.5rem;
  }

  .LoginCard .MuiInputBase-input {
    font-size: 1.25rem !important;
    font-weight: 500 !important;
  }

  .LoginCard .MuiInputBase-input::placeholder {
    color: black !important;
    opacity: 1 !important;

    font-size: 1.25rem !important;
    font-weight: 500 !important;
  }

  .LoginWrapper a {
    font-size: 1.5rem;
  }
}