.RegisterHeader {
  background-color: #d75b79;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 6.25rem;
}

.RegisterHeader .Icon {
  position: absolute;
  left: 2rem;
}

.RegisterHeader .Logo {
  color: inherit;

  font-weight: 500;
  font-size: 2.5rem;

  text-decoration: none;
  -webkit-user-drag: none;
}

.RegisterBody {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding: 0 2rem;

  transition: ease all .5s;
}

.RegisterBody h2 {
  color: #d75b79;

  font-size: 1.875rem;
  font-weight: 600;

  margin-bottom: 5px;

  transition: ease all .5s;
}

.RegisterWrapper {
  display: flex;
  flex-direction: column;

  margin: 8.5rem 0;
  width: fit-content;
  
  transition: ease all .5s;
}

.RegisterBody .RegisterCard {
  display: flex;
  flex-direction: column;

  width: fit-content;
  padding: 1.25rem 1.75rem;
  border: solid #d75b79 2px;
  border-radius: 0 20px 20px 20px;

  transition: ease all .5s;
}

.RegisterBody .RegisterCard p {
  font-size: 1.125rem;
  
  margin: 0 0 10px;
  width: 18.75rem;

  transition: ease all .5s;
}

.RegisterCard .RegisterCardSubmit {
  color: white;
  background: #d75b79;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 1.25rem;
  text-decoration: none;

  margin-top: 10px;
  padding: 10px 0;
  border: none;
  border-radius: 0 20px 20px 20px;
  outline: inherit;

  cursor: pointer;
  -webkit-user-drag: none;
  transition: ease all .5s;
}

.RegisterCard .RegisterCardSubmit:hover {
  background-color: rgba(215, 91, 122, 0.9);
}

.RegisterWrapper a {
  color: white;
  background-color: #d75b79;

  font-weight: 500;
  font-size: 1.25rem;
  text-decoration: none;

  width: fit-content;
  margin: 20px 0;
  padding: 8px 40px;
  border-radius: 0px 20px 20px 20px;

  -webkit-user-drag: none;
  transition: ease all .5s;
}

@media (max-width: 928px) {
  .RegisterWrapper {
    margin: 4rem 0;
  }

  .RegisterHeader .Icon {
    left: 1.5rem;
  }
}

@media (max-width: 688px) {
  .RegisterHeader .Icon {
    left: 1.25rem;
  }

  .RegisterBody h2 {
    font-size: 2rem;
  }

  .RegisterCard .RegisterCardSubmit {
    font-size: 1.5rem;
  }

  .RegisterCard .MuiInputBase-input {
    font-size: 1.25rem !important;
    font-weight: 500 !important;
  }

  .RegisterCard .MuiInputBase-input::placeholder {
    color: black !important;
    opacity: 1 !important;

    font-size: 1.25rem !important;
    font-weight: 500 !important;
  }

  .RegisterWrapper a {
    font-size: 1.5rem;
  }
}