.EditPasswordBody {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding: 0 2rem;

  transition: ease all .5s;
}

.EditPasswordBody h2 {
  color: #d75b79;

  font-size: 1.875rem;
  font-weight: 600;

  margin-bottom: 5px;

  transition: ease all .5s;
}

.EditPasswordWrapper {
  display: flex;
  flex-direction: column;

  margin: 8.5rem 0;
  width: fit-content;

  transition: ease all .5s;
}

.EditPasswordCard {
  display: flex;
  flex-direction: column;

  width: fit-content;
  padding: 1.25rem 1.75rem;
  border: solid #d75b79 2px;
  border-radius: 0 20px 20px 20px;

  transition: ease all .5s;
}

.EditPasswordCard .EditPasswordCardSubmit {
  color: white;
  background: #d75b79;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 1.25rem;
  text-decoration: none;

  padding: 10px 0;
  border: none;
  border-radius: 0 20px 20px 20px;
  outline: inherit;

  cursor: pointer;
  -webkit-user-drag: none;
  transition: ease all .5s;
}

.EditPasswordCard .EditPasswordCardSubmit:hover {
  background-color: rgba(215, 91, 122, 0.9);
}

.EditPasswordCard .MuiFormControl-root:nth-child(3) {
  margin: 0 0 25px 0 !important;
}

@media (max-width: 928px) {
  .EditPasswordWrapper {
    margin: 4rem 0;
  }
}

@media (max-width: 688px) {
  .ProfileBody h2 {
    font-size: 2rem;
  }

  .ProfileCard h3 {
    font-size: 1.5rem;
  }

  .ProfileCard p {
    font-size: 1.25rem;
  }

  .EditPasswordCard .EditPasswordCardSubmit {
    font-size: 1.50rem;
  }

  .EditPasswordCard .MuiInputBase-input {
    font-size: 1.25rem !important;
    font-weight: 500 !important;
  }

  .EditPasswordCard .MuiInputBase-input::placeholder {
    font-size: 1.25rem !important;
    font-weight: 500 !important;
  }
}