.MatchHeader {
  background-color: #d75b79;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 6.25rem;
}

.MatchHeader .Logo {
  color: inherit;

  font-weight: 500;
  font-size: 2.5rem;

  text-decoration: none;
  -webkit-user-drag: none;
}

.MatchBody {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding: 0 2rem;

  transition: ease all .5s;
}

.MatchBody h2 {
  color: #d75b79;

  font-size: 1.875rem;
  font-weight: 600;

  margin-bottom: 5px;

  transition: ease all .5s;
}

.MatchAbout {
  display: flex;
  flex-direction: column;

  width: 30rem;
  margin: 8.5rem 0;

  transition: ease all .5s;
}

.MatchAbout h2 {
  padding-bottom: 5px;
  border-bottom: solid 2px #d75b79;
}

.MatchAbout p {
  font-size: 1.125rem;
}

.MatchAbout a {
  color: white;
  background: #d75b79;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 1.25rem;
  text-decoration: none;

  width: 18.75rem;
  margin-top: 15px;
  padding: 10px 0;
  border: none;
  border-radius: 0 20px 20px 20px;
  outline: inherit;

  cursor: pointer;
  -webkit-user-drag: none;
  transition: ease all .5s;
}

.MatchAbout a:hover {
  background-color: rgba(215, 91, 122, 0.9);
}

@media (max-width: 928px) {
  .MatchBody {
    flex-direction: column;
    align-items: center;
  }

  .MatchAbout {
    margin: 2rem 0;
  }
}

@media (max-width: 688px) {
  .MatchAbout {
    width: 22rem;
  }

  .MatchBody h2 {
    font-size: 2rem;
  }

  .MatchAbout p {
    font-size: 1.25rem;
  }

  .MatchAbout a {
    font-size: 1.50rem;
  }
}