.ForgotPasswordHeader {
  background-color: #d75b79;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 6.25rem;
}

.ForgotPasswordHeader .Icon {
  position: absolute;
  left: 2rem;
}

.ForgotPasswordHeader .Logo {
  color: inherit;

  font-weight: 500;
  font-size: 2.5rem;

  text-decoration: none;
  -webkit-user-drag: none;
}

.ForgotPasswordBody {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding: 0 2rem;

  transition: ease all .5s;
}

.ForgotPasswordBody h2 {
  color: #d75b79;

  font-size: 1.875rem;
  font-weight: 600;

  margin-bottom: 5px;

  transition: ease all .5s;
}

.ForgotPasswordWrapper {
  display: flex;
  flex-direction: column;

  margin: 8.5rem 0;
  width: fit-content;

  transition: ease all .5s;
}

.ForgotPasswordCard {
  display: flex;
  flex-direction: column;

  width: fit-content;
  padding: 1.25rem 1.75rem;
  border: solid #d75b79 2px;
  border-radius: 0 20px 20px 20px;

  transition: ease all .5s;
}

.ForgotPasswordCard p {
  font-size: 1.125rem;
  text-align: center;

  margin: 0 0 10px;
  width: 18.75rem;

  transition: ease all .5s;
}

.ForgotPasswordCard .ForgotPasswordCardSubmit {
  color: white;
  background: #d75b79;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 1.25rem;
  text-decoration: none;

  margin-top: 10px;
  padding: 10px 0;
  border: none;
  border-radius: 0 20px 20px 20px;
  outline: inherit;

  cursor: pointer;
  -webkit-user-drag: none;
  transition: ease all .5s;
}

.ForgotPasswordCard .ForgotPasswordCardSubmit:hover {
  background-color: rgba(215, 91, 122, 0.9);
}

@media (max-width: 928px) {
  .ForgotPasswordWrapper {
    margin: 4rem 0;
  }

  .ForgotPasswordHeader .Icon {
    left: 1.5rem;
  }
}

@media (max-width: 688px) {
  .ForgotPasswordHeader .Icon {
    left: 1.25rem;
  }

  .ForgotPasswordBody h2 {
    font-size: 2rem;
  }

  .ForgotPasswordCard .ForgotPasswordCardSubmit {
    font-size: 1.5rem;
  }

  .ForgotPasswordCard .MuiInputBase-input {
    font-size: 1.25rem !important;
    font-weight: 500 !important;
  }

  .ForgotPasswordCard .MuiInputBase-input::placeholder {
    color: black !important;
    opacity: 1 !important;

    font-size: 1.25rem !important;
    font-weight: 500 !important;
  }

  .ForgotPasswordWrapper a {
    font-size: 1.5rem;
  }
}