.MessageBody {
  display: flex;
  justify-content: center;

  padding: 0 2rem;
}

.MessageWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  max-width: 70rem;
  margin: 3rem 0 0 0;

  transition: ease all .5s;
}

.MessageWrapper .Message {
  margin: 1rem;

  transition: ease all .5s;
}

.MessagePlaceholder {
  margin: 8rem 2rem;

  text-align: center;

  transition: ease all .5s;
}

@media (max-width: 928px) {
  .MessageWrapper {
    margin: 2rem 0;
  }

  .MessagePlaceholder {
    margin: 6rem 2rem;
  }
}