* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
}

.MuiFormControl-root {
  width: 18.75rem !important;
  margin: 0 0 15px 0 !important;
}

.MuiInputBase-root {
  color: black !important;
  opacity: 1 !important;

  font: inherit !important;
}


.MuiInputBase-input {
  font-size: 1.125rem !important;
  font-weight: 500 !important;
}

.MuiInputBase-input::placeholder {
  color: black !important;
  opacity: 1 !important;

  font-size: 1.125rem !important;
  font-weight: 500 !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #d75b79 !important;
}

.MuiOutlinedInput-multiline {
  padding: .75rem !important;
}

.MuiOutlinedInput-root {
  border-radius: 5px !important;
}

.Mui-focused fieldset {
  border-color: #d75b79 !important;
}

.Icon {
  color: white !important;
}

.MuiPaper-root {
  background: #d75b79 !important;

  padding: 1.2rem 1.8rem !important;
}

.MuiDrawer-paper {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
}

.MuiDrawer-paper p {
  color: white;

  font-size: 1.5rem;
  font-weight: 600;

  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;

  -webkit-user-drag: none;
  transition: ease all .5s;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
    /* 15px */
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
    /* 14px */
  }
}

@media (max-width: 540px) {
  html {
    font-size: 81.25%;
    /* 13px */
  }
}

@media (max-width: 360px) {
  html {
    font-size: 75%;
    /* 12px */
  }
}